
.Title {
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    margin: 50px 50px;
    border: 20px solid red;
  
}

img{
    height: 500px;
    width: 400px;

}

.weebs{
    font-weight: bold;
    font-size: 72px;
}