
.Title {
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    margin: 50px 50px;
    border: 20px solid red;
  
}

img{
    height: 30%;
    width: 30%;
    /* min-height: 200px;
    max-height: 500px;
    min-width: 100px;
    max-width: 400px; */
}

.weebs{
    font-weight: bold;
    font-size: 72px;
}